.user_block{
    margin-left:3%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.img{
    width: 130px;

}
.btn_container{
   
    margin:2px auto 5px 20%;
  
}
/* .btn{
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
} */
.info{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 1px solid #808080;
    padding: 10px;
    width: 50%;
}
.pagination {
    display: inline-block;
  }

  .pagination li {
   list-style: none;
   display: inline;
  }
  .pagination li  a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }

  .active{
    background-color: #20B2AA;
    color: white;
    border: 1px solid #20B2AA;
  }

  .pagination li a:hover:not(.active) {background-color: #ddd;}

  
  .btn:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }