.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
   "header header "
   "nav profile";


   grid-template-columns: 2fr 10fr;
}
.app-wrapper-container{
  grid-area:profile;
  background-color: aquamarine;
  
}

