.dialogs{
display: grid;
grid-template-columns: 2fr 10fr;
}

.button{
    width: 200px;
}
.message{
    margin-top:43px;
}
.name{
    text-decoration: none;
    color:black
}
.messages{
padding: 10px;
}
.image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.dialogsItem{
    padding: 10px; 
}
.mess_container{
    margin:10px;
    padding: 10px;
}
